<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inventario Productos</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style type="text/css">
      body{
        background-color: rgba(25, 115, 184,0.4);
      }
      nav{
        color:black;
        background-color: rgb(4,50,99);
      }
      .navbar-brand{
        color:white;
      }

    </style>
  </head>
  <body>

    <nav class="navbar mb-4 " >

      <a class="navbar-brand" href="#">Inventario Productos Bancarios</a>
      <img src="https://www.kindpng.com/picc/b/29/294244.png" width="200">
    </nav>
